<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/IT-Beacon/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="yokhoe" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
